<p>
	Hi, Rails app is running successfully <br>
	<br>
	AWS Infrastructure for this app is spin using terraform, docker and AWS codebuild<br><br>

	Rails updated, codepipeline passes
  
	<br/>
	Rails Version: <%= Gem.loaded_specs['rails'].version %>
	<br/>
</p>